# Archivos y carpetas de compilación
bin/
obj/

# Configuraciones de Visual Studio
.vs/

# Archivos de migración y base de datos
*.mdf
*.ldf

# Archivos temporales de NuGet
*.nupkg
*.snupkg
.nuget/
.packages/

# Otros archivos temporales
*.log
